{% extends 'base.html' %}

{% block title %} Basket {% endblock %}

{% block body %}

{% if basket %}
<table>
{% for item in basket %}
    <tr>
        <td><img src="{{ item.product.productPicture }}" style="height: 200px; width: 200px; border-radius: 8px; padding: 20px;"></td>
        <td><h1>{{ item.product.productName }}</h1></td>
        <td><p>{{ item.quantity }}</p></td>
        <td><p>{{ item.product.price }}</p></td>
        <td><a href="/delete/{{ item.id }}">Remove</a></td>
    </tr>
{% endfor %}
</table>
<a href="/checkout">Checkout</a>
{% else %}
<p>Basket is empty. <a href="/">Back to shopping</a></p>

{% endif %}

{% endblock %}