{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<form method="POST">
    <label for="currentpword">Current Password:</label>
    <input type="password" id="currentpword" name="currentpword"><br>
    <label for="newpword">New Password:</label>
    <input type="password" id="newpword" name="newpword"><br>
    <label for="checkpword">Confirm Password:</label>
    <input type="password" id="checkpword" name="checkpword"><br>
    <input type="submit" value="submit">
</form> 
{% endblock %}