{% extends 'forms.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<!-- Start of login section-->

<div class="loginback">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="email"><h4>Email Address</h4>{{ form.email }}</div>
        <div class="name"><h4>Username</h4>{{ form.username }}</div>
        <div class="password"><h4>Password</h4>{{ form.password }}</div>
        <div class="password"><h4>Confirm Password</h4>{{ form.confirmPassword }}</div>
        
        <div class="button">
            <a href="/register"></a>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? Login <a href="/login">HERE</a></p>
</div>


{% endblock %}
